In [3]:
str1 = "Allen die zich in Nederland bevinden, worden in gelijke gevallen gelijk behandeld."
print(str1)

Allen die zich in Nederland bevinden, worden in gelijke gevallen gelijk behandeld.

In [11]:
len(str1)
print("number of characters:", len(str1))

number of characters: 82

In [5]:
print(str1.upper())

ALLEN DIE ZICH IN NEDERLAND BEVINDEN, WORDEN IN GELIJKE GEVALLEN GELIJK BEHANDELD.

In [16]:
print(str1.replace('gelijk ', 'ongelijk '))

Allen die zich in Nederland bevinden, worden in gelijke gevallen ongelijk behandeld.

In [9]:
len(str1.split())

12

In [12]:
lst = str1.split(',')
print(lst[0].upper())

ALLEN DIE ZICH IN NEDERLAND BEVINDEN

In [15]:
lst = str1.split(',')
print(lst[0].upper())

ALLEN DIE ZICH IN NEDERLAND BEVINDEN

In [22]:
# exercise: re-create lst_lst using list_comprehension

lst_lst = [[1,2,3] for i in range (3) ]
print(lst_lst)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [23]:
lst_lst = [[i for i in range(1,4)] for i in range(3) ]
print(lst_lst)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [24]:
lst_lst = [[j for j in range (i, i+4)] for i in range(3)]
print(lst_lst)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5]]

In [25]:
lst_lst = [[j for j in range (i, i+3)] for i in range(3)]
print(lst_lst)

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [26]:
lst_lst = [[j for j in range (i, i+3)] for i in range(1,8,3)]
print(lst_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
lst = []

for i in range(10):
    lst.append(i)
    
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
lst = [i for i in range(10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
lst = [i for i in range(20) if i >=5]
print(lst)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]